---
import Layout from "../../layouts/Layout.astro";
---

<Layout nom_page="À Propos">
  <div class="mx-4">
    <h2 class="mt-16 mb-8">Historique</h2>
    <p class="text-gris">
      Le festival Les Ciné-Échos est né d’une volonté forte : mettre en lumière
      les nouvelles voix du cinéma indépendant. Depuis sa première édition en
      2025, il rassemble créateurs, passionnés de cinéma et public curieux
      autour de projections de films d’auteur, d’ateliers interactifs et de
      rencontres uniques. Ancré à Héricourt, ce festival célèbre la diversité
      créative et l’innovation cinématographique, en offrant une plateforme aux
      talents émergents tout en favorisant des échanges enrichissants. Plongez
      dans un univers où chaque film, chaque atelier, et chaque moment sont
      conçus pour éveiller votre imagination et ouvrir de nouvelles
      perspectives.
    </p>
  </div>
  <div class="mx-4 text-gris">
    <h2 class="mt-16 mb-8">L'Équipe</h2>
    <p class="text-xl mb-2">
      <strong>Organisateurs principaux</strong>
      <ul class="list-disc ml-8 text-lg">
        <li>Loréna CHEVALLOT – Directrice du festival</li>
        <ul class="list-disc ml-4">
          <li>C’est la fondatrice de Ciné-Échos.</li>
          <li class="mb-2">
            Passionnée par le cinéma indépendant, elle coordonne l’ensemble des
            activités et assure la vision artistique du festival.
          </li>
        </ul>
      </ul>
    </p>
    <ul class="list-disc ml-8 text-lg">
      <li>Bryan MENOUX – Responsable de la programmation</li>
      <ul class="list-disc ml-4">
        <li>
          Bryan sélectionne les films et organise les rencontres avec les
          réalisateurs pour offrir une expérience inoubliable aux festivaliers.
        </li>
      </ul>
    </ul>
    <p class="text-xl mt-4 mb-2">
      <strong>Équipe technique</strong>
      <br />
      <ul class="list-disc ml-8 text-lg">
        <li>Emma Leroy – Responsable des projections et de la sonorisation</li>
        <li>Antoine Durand – Technicien lumière</li>
        <li>
          Julie Meunier – Responsable des espaces et des flux des festivaliers
        </li>
        <li>Karim Benali – Coordinateur des stands et ateliers</li>
      </ul>
    </p>
    <p class="text-xl mt-4 mb-2">
      <strong>Bénévoles</strong>
      <ul class="list-disc ml-8 text-lg">
        <li>
          Une équipe de 20 bénévoles accompagne cette année l’organisation du
          festival, de l’accueil des visiteurs à l’installation des lieux. Merci
          à eux pour leur engagement précieux !
        </li>
      </ul>
    </p>
    <h2 class="mt-16 mb-8">Charte</h2>
    <p class="text-xl mb-2">
      <strong>Nos valeurs fondamentales</strong>
      <br />
      <ul class="list-disc ml-8 text-lg">
        <li>
          Créativité et innovation : Nous soutenons des œuvres qui explorent de
          nouvelles formes narratives et esthétiques.
        </li>
        <li>
          Accessibilité culturelle : Le festival veille à rendre le cinéma
          indépendant accessible à tous.
        </li>
        <li>
          Engagement local et durable : Collaborer avec des partenaires
          régionaux et minimiser notre impact écologique est au cœur de notre
          démarche.
        </li>
        <li>
          Échange et diversité : Nous célébrons la richesse des voix et des
          perspectives à travers le cinéma.
        </li>
      </ul>
    </p>
    <p class="text-xl mt-4 my-2">
      <strong>Nos valeurs fondamentales</strong>
      <br />
      <ul class="list-disc ml-8 text-lg">
        <li>
          Pour cette édition, Ciné-Échos explorent la thématique de « <i
            >La ruralité au cinéma : portraits et imaginaires</i
          > ».
        </li>
        <li class="mb-12">
          À travers des œuvres mettant en scène des territoires ruraux, cette
          édition célèbre la richesse des récits enracinés dans la vie
          quotidienne et les défis du monde rural.
        </li>
      </ul>
    </p>
  </div>
</Layout>
