---
const { text, url } = Astro.props;
---

<a
  href={url}
  class="inline-flex items-center justify-center px-8 py-3 mt-3 rounded-full bg-rose text-white text-base font-Mulish font-bold uppercase shadow-md hover:bg-rose-degrade transition"
>
  {text}
</a>
