---
import LogoFestival from "../assets/icons/logo.svg";
---

<header
  class="px-6 py-2 fixed z-20 bg-noir w-full flex items-center justify-between lg:py-2 top-0 bg-purple-950/40"
>
  <div>
    <a href="/"><LogoFestival /></a>
  </div>
  <div>
    <button
      id="menu-btn"
      class="group relative z-20 flex h-3 w-6 flex-col justify-between lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-white *:transition *:duration-300"
      aria-label="Menu"
      aria-controls="menu"
      aria-expanded="false"
    >
      <span
        class="group-aria-expanded:translate-y-[5px] group-aria-expanded:rotate-45"
      ></span>
      <span class="group-aria-expanded:opacity-0"></span>
      <span
        class="group-aria-expanded:-translate-y-[5px] group-aria-expanded:-rotate-45"
      ></span>
    </button>
    <nav
      id="menu"
      class="fixed bg-bleu-dark inset-0 text-white text-2xl z-10 max-lg:aria-hidden:invisible visible lg:bg-transparent lg:relative lg:text-white lg:text-xl uppercase font-Montserrat"
      aria-hidden="true"
    >
      <ul
        class="mt-[25vh] mx-16 lg:m-0 lg:flex *:relative *:overflow-hidden *:lg:before:absolute *:lg:before:bottom-0 *:lg:before:left-0 *:lg:before:h-2 *:lg:before:w-full *:lg:before:translate-y-2 *:lg:before:bg-black *:lg:before:transition-all *:lg:before:duration-300 *:lg:before:ease-in-out lg:gap-8"
      >
        <li><a class="block py-4" href="/a_propos">À Propos</a></li>
        <li><a class="block py-4" href="/programme">Programme</a></li>
        <li>
          <a class="block py-4" href="/programme_films">Films</a>
        </li>
        <li>
          <a class="block py-4" href="/activites"
            >Activités</a
          >
        </li>
        <li><a class="block py-4" href="/invites">Invités</a></li>
        <li>
          <a class="block py-4" href="/infos_pratiques">Infos Pratiques</a>
        </li>
        <li><a class="block py-4" href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
  // On cible les éléments à modifier
  const toggle = document.querySelector("#menu-btn");
  const nav = document.querySelector("#menu");
  const page = document.body;

  // Vérifier si les éléments existent avant d'ajouter l'événement
  if (toggle && nav) {
    toggle.addEventListener("click", () => {
      const isOpen = toggle.ariaExpanded === "true";
      const isClosed = !isOpen;
      console.log(isOpen, isClosed);
      // Mise à jour des attributs ARIA pour accessibilité
      toggle.ariaExpanded = String(isClosed);
      nav.ariaHidden = String(isOpen);
      page.classList.toggle("noscroll", isClosed);
    });
  }
</script>
