---
import Layout from "../../layouts/Layout.astro";
import {
  addNewActivite,
  getAllInvitesSortedByNom,
} from "../../../backend/backend.mjs";

const invites = await getAllInvitesSortedByNom();
let message = "";
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const response = await addNewActivite(formData);
  console.log(response);

  message = response.message;
}
Astro.redirect("/activites");
---

<Layout nom_page="Ajouter une activité">
  <p class="text-green-400 font-bold my-5 text-center">{message}</p>

  <form
    action=""
    method="POST"
    enctype="multipart/form-data"
    class="flex flex-col w-full max-w-2xl mx-auto px-4 my-6 bg-fond-article p-6 rounded-lg shadow-lg"
  >
    <input
      type="text"
      name="titre"
      placeholder="Titre de l'activité"
      required
      class="mt-2 p-3 border border-cyan-400 rounded-md bg-white text-gray-900"
    />

    <select
      name="type"
      required
      class="mt-2 p-3 pl-2 border border-cyan-400 rounded-md bg-white text-gray-400"
    >
      <option value="" disabled selected>Choisir un type</option>
      <option value="Atelier">Atelier</option>
      <option value="Rencontre">Rencontre</option>
    </select>

    <input
      type="date"
      name="date"
      required
      class="mt-2 p-3 border border-cyan-400 rounded-md bg-white text-gray-400"
    />

    <input
      type="text"
      name="lieu"
      placeholder="Lieu de l'activité"
      required
      class="mt-2 p-3 border border-cyan-400 rounded-md bg-white text-gray-900"
    />

    <textarea
      name="description"
      placeholder="Description de l'activité"
      required
      class="mt-2 p-3 border border-cyan-400 rounded-md bg-white text-gray-900 h-24 resize-none"
    ></textarea>

    <select
      name="invite"
      required
      class="mt-2 p-3 pl-2 border border-cyan-400 rounded-md bg-white text-gray-400"
    >
      <option value="" disabled selected>Invité spéciale</option>
      {
        invites.map((invite) => {
          return <option value={invite.id}>{invite.nom}</option>;
        })
      }
    </select>

    <button
      type="submit"
      class="bg-rose text-white font-bold py-3 px-4 rounded-lg hover:bg-rose-degrade transition uppercase mt-5"
    >
      Ajouter
    </button>
  </form>
</Layout>
